<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GRP3 Weather Reporting Agency</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
   
  </head>
  <body>
    <div>
      <h1>GRP3 Weather Reporting Agency</h1>
    </div>
    
    <div>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		  <li><a href="/linechart">Wind Data</a></li>
		  <li><a href="/barchart">Humidity Data</a></li>
		  <li><a href="/combochart">Temperature Data</a></li>
		  <li><a href="/scatterchart">CO and O3 Levels</a></li>
		</ul>
	  </div>
	</nav>
	</div>
	
	<div>
    <p>An overview of our firm, including who we are and where we work, and how to contact us.</p>
    <p><b>Our Team :-</b></p>
    <li>
      Team Manager – Harshita Goyal</li>
      <li>	Team Data Analyst– Harpreet Kaur</li>
      <li>Team Developer – Navjot Kaur</li>
      <li>	Team Business Analyst – Pravalika Kiriyanthan</li>
      
      
      <p><b>Location :-</b>
      
      <li>
      GRP3 Firm 
      Hogwarts Road
      Gryffindor
      London
      EP1 8PH
      United Kingdom
      </li>
      </p>
      <p><b>Contact Us :-</b>
      
      <li>
      If you have any questions concerning our projections, products, or services, please contact our firm. Our customer service team is available seven days a week, 24 hours a day.
      </li></p>
      <p><b>Phone-</b>
      
      <li>Telephone: 8450 567 0000</li>
      <li>Fax: 0089 907 6784</li>
      
      </p>
      <p><b>Social Media-</b>
      
      <li>
      Twitter:  @grp3firm </li>
      <li>Instagram:  @grp3firm</li>
      </p>
      <p>
      Every day, people all around our country make decisions based on the weather. We give climate and weather projections to guide individuals in making those judgments, guaranteeing that they are safe, comfortable, and happy. Our projections also mean that people may plan, prepare, and make the most of their spare time when it comes to their well-being.
      Every day, we leverage cutting-edge technology to collect and make sense of huge volumes of data for the benefit of humanity - and our planet.
      </p>
    </div>

    <!--form method="get" action="/linechart">
      <button type="submit" class="btn btn-primary">Wind Data</button>
  </form>
  <form method="get" action="/barchart">
    <button type="submit" class="btn btn-primary">Humidity Data</button>
</form>
<form method="get" action="/combochart">
  <button type="submit" class="btn btn-primary">Temperature Data</button>
</form>
<form method="get" action="/scatterchart">
  <button type="submit" class="btn btn-primary">CO and O3 Levels</button>
</form-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>